@charset "UTF-8";
/* Body */
body {
	font-family: 'Muli', arial;
	background-image: url(../images/bg.png);
    background-size: 150px;
	background-repeat: repeat;
    background-attachment: fixed;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
    /* cursor: url(../images/CursorShadow.png) 2 1, default; */
}

/* Container */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	/*background-color: #FFFFFF;*/
}
/* Navigation */
.header {
	width: 100%;
	height: 10%;
	/* background-color: #4D7CFF; */
    /* background-image: url(../images/Page1_Img1.png); */
    background-attachment: fixed;
    background-size: cover;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #4D7CFF;
    transition: all 0.3s linear;
}
.logo {
    margin-top: 15px;
    margin-left: 17px;
    display: inline-block;
}
.title {
    display: inline-block;
	color: #ffff6e;
	font-weight: bold;
	text-align: left;
	width: 40%;
    position: absolute;
	left: 0;
	margin-top: 25px;
	margin-left: 80px;
	letter-spacing: 1px;
}
nav {
    display: inline-block;
	position: absolute;
    right: 0;
	width: 70%;
	text-align: right;
	margin-right: 0px;
}
header nav ul {
    position: relative;
	top: 60%;
    transform: translateY(-40%);
	list-style: none;
	float: right;
	margin: 40px;
}
nav ul li {
    position: relative;
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: right;
	letter-spacing: 2px;
	font-weight: bold;
	/* transition: all 0.3s linear; */
}
ul li a {
    position: relative;
	color: #ffff6e;
	text-decoration: none;
	top: 15px;
}
ul li:hover a {
	color: #4D7CFF;
    text-shadow:
    -1px -1px 0 #ffff6e,
    1px -1px 0 #ffff6e,
    -1px 1px 0 #ffff6e,
    1px 1px 0 #ffff6e;  
}
ul li img {
    position: relative;
}
/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px; 
    padding-left: 10px;
    transition: all 0.3s linear;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
	max-width: px;
    transition: all 0.3s linear;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4D7CFF;
    top: 230%;
    right: -30%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: blue;
    text-align: center;
    top: -1px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s linear;
}

#ddl {
    color:#ffff6e!important;
    text-shadow:none;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffff6e;
text-shadow:
    -1px -1px 0 #4D7CFF,
    1px -1px 0 #4D7CFF,
    -1px 1px 0 #4D7CFF,
    1px 1px 0 #4D7CFF!important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffff6e;
    color: #4D7CFF;
    text-shadow:
    -1px -1px 0 #ffff6e,
    1px -1px 0 #ffff6e,
    -1px 1px 0 #ffff6e,
    1px 1px 0 #ffff6e;
}
.bottom_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* About Section */
.title_text {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: #1943B5;
}
.social_links {
	text-decoration: none;
}
.social_link_text {
	text-decoration: none;
	font-size: 300%;
	vertical-align: middle;
}
.social_img {
	padding-top: 20px;
}
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.section {
	float: center;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
	box-sizing: border-box;
	width: 100%;
    min-height: 0%;
    /*box-shadow: 0px 5px 5px rgba(80,80,80,.5);*/
}
.section_text {
	color: #1943B5;
}
.text_standout {
	color:#6072F0;
}
/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
/* Parallax Section */
.parallax {
	background-color: #2D9AB7;
	/* background-image: url(../images/parallax.png); */
	height: 60%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: repeat-y;
    transition-property: height;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#home_parallax1 {
    background-image: url(../images/Page1_Img1.jpg);
    height: 80%;
}
#home_parallax2 {
    background-image: url(../images/Page1_Img2.jpg);
    height: 20%;
}
#home_parallax3 {
    background-image: url(../images/Page1_Img3.png);
    height: 20%;
}
#gallery_slideshow {
    
}
#credits_parallax {
	background-image: url(../images/CreditsImg.png);
	height: 70%;
}
#social_parallax {
	background-image: url(../images/SocialImg.jpg);
	height: 70%;
}
#frcteam_parallax {
	background-image: url(../images/frcTeamImg.jpg);
	height: 70%;
}
.overlay_text {
    position: inherit;
    width: 100%;
	font-size: 70px;
	color: #FFFF6E;
    text-align: center;
	top: 50%;
	letter-spacing: 2px;
    text-shadow: 0 0 10px darkblue;
}
#overlay-button {
    position: relative;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
#overlay-div {
    height: 100%;
}

/* Noscript warning */
#noscript {
    top: 60%;
    font-size: 40px;
    line-height: 70px;

}
#main_page_title {
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
}
#page_title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.overlay_description {
	text-decoration-color: none;
	color: #FFFF6E;
    position: absolute;
	font-size: 150%;
    top: 52%;
	transform: translateY(-48%);
    text-align: center;
	width: 100%;
	line-height: 23px;
	text-shadow:
    0 0 6px darkblue;
}
#social-media {
	font-weight: 900;
    position: absolute;
	top: 55%;
    transform: translateY(-45%);
}
/* Spoiler CSS */
.spoiler{
    display: none;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    height: 10%;
	background-color: #FFF;
}
.slider {
	overflow-y: hidden;
	max-height: 0px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.slider.open {
	max-height: 2500px;
}
.spoiler-button{
	padding: 0;
    border: none;
    background: none;
    width: 100%;
}
.spoiler-button:hover {
    cursor: pointer;
}
/* More info */
footer {
    width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.sponsors {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.sponsors h1 {
	color: darkslategrey;
	text-align: center;
}
.sponsors strong {
	color: darkslategrey;
    font-size: 110%;
    line-height: 160%;
}
.cards {
    text-align: center;
    vertical-align: middle;
    height: 75px;
    margin: 10px;
}
.sponsors p {
    color: #717070;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.sponsors-page {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.sponsors-page h1 {
	color: #1943B5;
	text-align: center;
    font-size: 150%;
}
.sponsors-page strong {
	color: black;
    font-size: 120%;
    line-height: 160%;
}
#sponsor-cards {
    text-align: middle;
    vertical-align: middle;
    height: 125px;
    margin: 10px;
}
.sponsors-page p {
    color: #717070;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.date {
	color: darkgrey;
}
.eventtext {
	text-align: justify;
	font-size: 120%;
}
.button {
    text-decoration: none;
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
    background-color: rgba(255, 255, 255, 0.35);
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
    cursor: pointer;
}
.credits {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #4D7CFF;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}
